/*  ========================================================================
    # Globals - Generic
    ========================================================================  */

::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
